.root { 
    font-size: 20px;
    color: grey;

    @media (max-width: 750px) {
        font-size: 15px;
    }
}

.list { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

hr {
    margin-bottom: 15px;
}
